.head {
	position: relative;
	top: 0px;
	font-size: 90%!important;
	color: white;
	background-color: #2d1f23;
	width: 960px;
	text-align:justify;
	display: block;
	padding-left: 5px;
	margin: 0;
}
.subhead {
	position: relative;
	top: -20px;
	font-size: 70%!important;
	color: white;
	background-color: #9ba7be;
	width: 960px;
	text-align: justify;
	padding: 5px;
	margin: 0;
	display: block;
}

.mytabs td {
	border: 2px solid black!important;
}
.question {
	position: relative;
	font-size: 80%!important;
	color: #d16a56;
	font-weight: bold;
	font-style: italic;
	text-align: center!important;
	display: block;
	width: 960px;
	text-transform: none;
}

.bq80 {
	font-size: 80%!important;
	line-height: 30px!important;
}
.small {
	font-size: 70%!important;
}

a {
	color: darkblue!important;
}
.stroked {
	text-decoration: line-through;
}


h2 {
	color: white!important;
}
h3 {
	color: red!important;
}
h4 {
	color: white!important;
}
